.Events {
  width: 100%;

  &__header,
  &__content {
    background-color: var(--color-neutral-0);
    padding: 16px 24px;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-1);
    border-radius: 8px 8px 0 0;
    display: flex;
    gap: 32px;
    justify-content: space-between;

    &__title {
      font-size: var(--font-size-larger);
      font-weight: bold;
      white-space: nowrap;
    }

    &__filter.ant-input-affix-wrapper {
      margin-right: auto;
      max-width: 320px;
    }
  }

  &__content {
    border-radius: 0 0 8px 8px;
  }

  &__tableRow {
    &__title {
      display: flex;
      flex-direction: column;
      color: var(--color-neutral-7);

      span {
        font-size: var(--font-size-small);
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      opacity: 0;
    }

    &:hover {
      .Events__tableRow__actions {
        opacity: 1;
      }
    }
  }

  &__inviteAccepted {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: var(--font-size-small);
      text-align: center;
    }
  }
}
