.App {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-grow: 1;
    padding: 24px;
  }

  &--dark {
    background: url("/background-overlay.svg"),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--color-primary-2);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
  }
}
