:root {
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f6f6f6;
  --color-neutral-2: #f1f1f1;
  --color-neutral-3: #e5e5e5;
  --color-neutral-5: #adadad;
  --color-neutral-6: #939393;
  --color-neutral-7: #221d23;

  --color-primary-0: #e1ecff;
  --color-primary-1: #c6d9fc;
  --color-primary-2: #0056f1;
  --color-primary-3: #003797;
}
