@import "/node_modules/antd/dist/antd.css";
@import "./colors.css";
@import "./typography.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background-color: var(--color-neutral-1);
  color: var(--color-neutral-7);
  font-family: var(--font-family);
}
